---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import Prose from '~/components/Prose.astro';
import Panel from '~/components/Panel.astro';

export async function getStaticPaths() {
  const courses = await getCollection('courses');
  return courses.map((course) => ({
    params: { slug: course.slug },
    props: { course },
  }));
}

const { course } = Astro.props;
const { Content } = await course.render();
---

<Layout title={course.data.title} subtitle={course.data.suburb}>
  {course.data.mainImage && (
    <img
      src={course.data.mainImage}
      alt={course.data.title}
      class="w-full my-8 rounded-lg aspect-[2/1] object-cover"
    />
  )}

  <Prose>
    <Content />
  </Prose>

  {course.data.address && (
    <Panel class="bg-gray-50">
      <Prose>
        <h3>Location</h3>
        <p>{course.data.address}</p>
      </Prose>
    </Panel>
  )}

  {course.data.courseMap && (
    <Prose>
      <h3>Course map</h3>
      <img
        src={course.data.courseMap}
        alt={`${course.data.title} course map`}
        class="w-full rounded-lg"
      />
    </Prose>
  )}
</Layout>
